/* Height of header and footer = 90px */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #343A3F !important;
  }

.navbar {
    position: absolute;
    z-index: 3;
}

.main {
    background-color: #343A3F;
}


#top-banner-jumbo {
    background-color: #343A3F; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%; height: 100vh;
    height: calc(100vh - 90px); /* Account for header and footer*/
    margin-bottom: 0px;
    padding-top: 20px;

}

.small-hr {
    width: 10%;
    text-align: center;
    border-color: white;
}

footer {
    padding: 5px;
    position: fixed;
    width: 100%;
    background-color: #343A3F;
    z-index: 3;
}

@media (max-height: 750px) {
    /* For Mobile Screen*/
    .nav-collapse {
        overflow-y: auto;
    }
    #top-banner-jumbo {
        height: auto;
        background-image: none !important;
        
    }
    .bg-text {
        background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.7); 
        color: white;
        border: 2px solid #fff;
        font-weight: bold;
        width: 80%;
        max-width: 80%;
        padding: 25px;
        text-align: center;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 100%;
    }

}

@media (min-height: 750px) {
    /* For Normal Screen*/
    .bg-text {
        background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.7); 
        color: white;
        border: 2px solid #fff;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        max-width: 80%;
        padding: 25px;
        text-align: center;
    }

}